recursive-include tensilelite *.py *.h *.hpp *.cpp *.txt *.cmake *.yaml
recursive-include rocisa *.cpp *.hpp *.txt
recursive-include tensilelite/CustomKernels *.s
include tensilelite/bin/Tensile tensilelite/bin/TensileCreateLibrary
include tensilelite/Ops/gen_assembly.sh
include requirements.txt
